.container{
    width: 100%;
    padding: 40px 0 0 0;
    background-color: #ddd;
    margin: 100px auto 0 auto ;
    display: flex;
    justify-content: center;
   
}
.box{
    width: 250px;
    height: 250px;
    margin: 0px 10px;
    align-items: center;
    transition: 1s;
}
.box:hover{
    transform: scale(1.1);
    z-index: 2;
   
}
@media only screen and (max-width: 600px) {
   .container{
       display: inline-block;
   }
   .box{
       display: flex;
       justify-content: center;
       margin: auto;
   }
  }